body {
  margin: 0;
  overflow: hidden; /* Предотвращаем прокрутку на мобильных устройствах */
  touch-action: none; /* Отключаем жесты прокрутки на сенсорных экранах */
  font-family: 'Dela Gothic One', sans-serif;
}

#garage-container {
  width: 100%;
  height: 100vh;
}

#garage-menu{
  position: absolute;
  bottom:0px;
  height:25vh;
  width: 100%;
  border-radius: 40px;
  backdrop-filter: blur(10px);
  background-color: #ffffff0c;
  box-shadow: 0px 0px 400px 40px rgba(0,0,0,.5);
  z-index: 2;
  transition: all .5s;
}

.hide{
  /* bottom: -400px !important; */
  animation: hide-menu .5s ;
  animation-fill-mode: forwards;
}

@keyframes hide-menu {
  0% {
    bottom: 0px; 
}
100% { 
  bottom: -400px; 
}
}





.tg-button {
  border: 0;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px 4px;
  text-align: center;
  justify-content: space-around;
  font-size:3.2vh;
  border-radius: 40px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 20px;
  height:30%;
  background: linear-gradient(135deg,  #3B89D4 0%,#3B89D4 40%,#ffffff 50%,#3B89D4 60%,#3B89D4 100%);
  animation: shark-wrap 2.5s infinite;;
  background-repeat: no-repeat;  
  background-position:0%;
  background-size:300%; 
}

@keyframes shark-wrap {
  0% {
    background-position: 100%; 
}
100% { 
    background-position:0%; 
}
}

.gradient-text {
  background-image: linear-gradient(to right, #ff0099, #1f7fed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}

#greeting {
  position:relative;
  top: 10px;
  text-align: center;
  /* left: 50%; */

  font-size:3.2vh;
  color: #ffffff;
  z-index: 1;
}
