/* Общие стили */
body {
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden; /* Предотвращаем прокрутку на мобильных устройствах */
  touch-action: none; /* Отключаем жесты прокрутки на сенсорных экранах */
  font-family: 'Dela Gothic One', sans-serif;
}

#garage-container {
  width: 100%;
  height: 100vh;
}

#loading-container {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40%;
  background: linear-gradient(-225deg, rgb(18, 0, 37), rgb(0, 0, 0));
}

#loading-label {
  color: #fff;
  font-size: 2vh; /* Размер шрифта зависим от высоты экрана */
}

#loading-bar-bg {
  width: 80%;
  height: 40px;
  border-radius: 50px;
  background-color: #2d1235;
}

#loading-bar {
  width: 0%;
  transition: all 1.2s;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(45deg, rgb(22, 99, 187), rgb(153, 17, 165));
}

#garage-menu {
  position: absolute;
  bottom: 0px;
  height: 25vh;
  width: 100%;
  border-radius: 40px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff0c;
  box-shadow: 0px 0px 400px 40px rgba(0,0,0,0.5);
  z-index: 2;
  transition: all 0.5s;
}

.hide {
  animation: hide-menu 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hide-menu {
  0% {
    bottom: 0px;
  }
  100% { 
    bottom: -100%; 
  }
}

.tg-button {
  border: 0;
  padding: 1vh 3vh; /* Используем vh для зависимых размеров */
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0.4vh 0.4vh;
  text-align: center;
  justify-content: space-around;
  font-size: 3vh;
  border-radius: 10vh;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 2vh;
  height: 10vh;
  background: linear-gradient(135deg, #3B89D4 0%, #3B89D4 40%, #ffffff 50%, #3B89D4 60%, #3B89D4 100%);
  animation: shark-wrap 2.5s infinite;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 300%;
}

@keyframes shark-wrap {
  0% {
    background-position: 100%;
  }
  100% { 
    background-position: 0%; 
  }
}

.gradient-text {
  background-image: linear-gradient(to right, #ff0099, #1f7fed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}

#action-menu {
  display: flex;
  height: 20vh;
  border-radius: 40px;
  background: linear-gradient(45deg, rgb(32, 2, 44), rgb(6, 19, 61));
  bottom: 0%;
  position: absolute;
  vertical-align: middle;
  justify-content: space-around;
  width: 100%;
}

.action-button {
  color: #90c1dd;
  display: flex;
  border-radius: 40px;
  width: 45%;
  font-size: 4vh;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

#open-tuning::after,
#start-race::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.2vh; /* Используем vh для зависимых размеров */
  background: #90c1dd;
  margin-top: 0.5vh;
}

#greeting {
  position: relative;
  top: 1vh;
  text-align: center;
  font-size: 3.2vh;
  color: #ffffff;
  z-index: 1;
}

/* Стили для окна характеристик автомобиля */
#car-stats-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh; /* Высота окна характеристик */
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 5;
  transition: transform 0.5s ease-in-out;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

#car-stats-window.hidden {
  transform: translateY(-100vh);
}

.car-stats-header {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0vh 0;
}

.car-stats-header h2 {
  color: #ffffff;
  font-size: 1.5vh;
}

#car-stats {
  width: 90%;
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stat {
  margin-bottom: .3vh;
}

.stat span {
  display: block;
  color: #90c1dd;
  margin-bottom: 0.1vh;
  font-size: 1.2vh;
}

.stat-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1vh;
  overflow: hidden;
  height: 1.2vh;
}

.stat-fill {
  height: 100%;
  background: linear-gradient(135deg, #3B89D4, #1f7fed);
  width: 0%;
  transition: width 0.5s ease-in-out;
}

/* Общие стили для тюнинг-меню */
#tuning-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35vh; /* Увеличенная высота для улучшенного восприятия */
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column-reverse;
  z-index: 4;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

#tuning-menu.visible {
  transform: translateY(0);
}

.tuning-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1vh 3vw; */
  width: 100%;
}

.tuning-tabs {
  width: 100%;
  display: flex;
  /* padding-left: 1vh; */
  
  justify-content: space-around;
  
}


.tuning-tab {
  font-family: 'Dela Gothic One', sans-serif;
  width: 30%;
  height:5vh;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff;
  padding: 1vh 2vw;
  font-size: 1.5vh;
  cursor: pointer;
  border-radius: 2vh;
  transition: all 0.3s, transform 0.3s;
}

.tuning-tab.active,
.tuning-tab:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.close-button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 2.5vh;
  cursor: pointer;
}

#tuning-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 3vw 3vh 3vw;
  overflow: hidden;
}

.tab-content {
  color: #ffffff;
  flex: 1;
  display: none;
  flex-direction: column;
}

.tab-content.active {
  display: flex;
}

#upgrade-categories {
  display: flex;
  overflow-x: auto;
  gap: 1vh;
  padding-bottom: 2vh;
}

#upgrade-categories::-webkit-scrollbar {
  height: 0.8vh;
}

#upgrade-categories::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.4vh;
}

#upgrade-categories::-webkit-scrollbar-thumb {
  background-color: #3B89D4;
  border-radius: 0.4vh;
}

.upgrade-category {
  flex: 0 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.5vh;
  padding: 2vh 3vh;
  cursor: pointer;
  min-width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vh;
  color: #ffffff;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

.upgrade-category.active,
.upgrade-category:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #ff0099;
  transform: scale(1.05);
}

#upgrade-grades {
  display: flex;
  overflow-y: scroll;
  height: 18vh;
  flex-direction: column;
  gap: 1vh;
  overflow-x: hidden;
}

#upgrade-grades::-webkit-scrollbar {
  width: 0.8vh;
}

#upgrade-grades::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.4vh;
}

#upgrade-grades::-webkit-scrollbar-thumb {
  background-color: #3B89D4;
  border-radius: 0.4vh;
}

.upgrade-grade {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5vh;
  padding: 2vh 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4vh;
  color: #ffffff;
  transition: background 0.3s, transform 0.3s;
}

.upgrade-grade:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
}

.upgrade-details {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.upgrade-name {
  font-size: 1.6vh;
  font-weight: bold;
}

.upgrade-description {
  font-size: 1.2vh;
  color: #d3d3d3;
}

.upgrade-price {
  font-size: 1.8vh;
  color: #ffd700;
}

.purchase-button {
  background: linear-gradient(135deg, #3B89D4 0%, #3B89D4 40%, #ffffff 50%, #3B89D4 60%, #3B89D4 100%);
  border: none;
  border-radius: 50px;
  color: #fff;
  padding: 1vh 2.5vh;
  cursor: pointer;
  font-size: 1.8vh;
  transition: background 0.3s, transform 0.3s;
}

.purchase-button:hover {
  background: linear-gradient(135deg, #ffffff 0%, #3B89D4 100%);
  transform: scale(1.05);
}

/* Стили для раздела Детейлинг */
.detailing-section {
  margin-top: 2vh;
}

.detailing-section h3 {
  color: #ffffff;
  font-size: 1.6vh;
  margin-bottom: 1vh;
}

.paint-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;
}

.paint-option {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  cursor: pointer;
  border: 0.2vh solid #ffffff;
  transition: transform 0.3s, border 0.3s;
  background-size: cover;
  background-position: center;
}


.metallic-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;
}

.metallic-option {
  font-family: 'Dela Gothic One', sans-serif;
  color: #000000;
  width: 10vh;
  height: 6vh;
  border-radius: 40px;
  cursor: pointer;
  border: 0.2vh solid #ffffff;
  transition: transform 0.3s, border 0.3s;
  background-size: cover;
  background-position: center;
}



.paint-option:hover {
  transform: scale(1.1);
  border: 0.2vh solid #ff0099;
}

/* Responsive Design */
@media (max-width: 768px) {
  #tuning-menu {
    height: 30vh;
  }

  .tuning-header {
    padding: 1vh 0vw;
  }

  .tuning-tab {
    padding: 0.8vh 1.5vw;
    font-size: 1.2vh;
  }

  .upgrade-category {
    min-width: 8vh;
    padding: 1.5vh 2.5vh;
    font-size: 1.0vh;
  }

  .upgrade-grade {
    padding: 1.5vh 2.5vh;
    font-size: 1.2vh;
  }

  .purchase-button {
    padding: 0.8vh 2vh;
    font-size: 1.6vh;
  }

  .detailing-section h3 {
    font-size: 1.4vh;
  }

  .paint-option {
    width: 5vh;
    height: 5vh;
  }
}

@media (max-width: 480px) {
  #tuning-menu {
    height: 25vh;
  }

  .tuning-header {
    padding: 0.8vh 0vw;
  }

  .tuning-tab {
    padding: 0.6vh 1vh;
    font-size: 1.0vh;
  }

  .upgrade-category {
    min-width: 7vh;
    padding: 1vh 2vh;
    font-size: 0.9vh;
  }

  .upgrade-grade {
    padding: 1vh 2vh;
    font-size: 1.0vh;
  }

  .purchase-button {
    padding: 0.6vh 1.8vh;
    font-size: 1.4vh;
  }

  .detailing-section h3 {
    font-size: 1.2vh;
  }

  .paint-option {
    width: 4vh;
    height: 4vh;
  }
}



/* Стили для раздела Тонировка стекол */
.tint-options {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.tint-color-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;
}

.tint-color-option {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  cursor: pointer;
  border: 0.2vh solid #ffffff;
  transition: transform 0.3s, border 0.3s;
  background-size: cover;
  background-position: center;
}

.tint-color-option:hover {
  transform: scale(1.1);
  border: 0.2vh solid #ff0099;
}

.tint-opacity-slider {
  display: flex;
  align-items: center;
  gap: 1vh;
  padding: 1vh 0;
}

.tint-opacity-slider label {
  color: #ffffff;
  font-size: 1.4vh;
}

.tint-opacity-slider input[type="range"] {
  width: 100%;
}

/* Стили для раздела Цвет дисков */
.wheel-color-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;
}

.wheel-color-option {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  cursor: pointer;
  border: 0.2vh solid #ffffff;
  transition: transform 0.3s, border 0.3s;
  background-size: cover;
  background-position: center;
}

.wheel-color-option:hover {
  transform: scale(1.1);
  border: 0.2vh solid #ff0099;
}


/* Стили для навигации по подразделам детейлинга */
#detailing-categories {
  display: flex;
  overflow-x: auto;
  gap: 1vh;
  padding-bottom: 2vh;
}

#detailing-categories::-webkit-scrollbar {
  height: 0.8vh;
}

#detailing-categories::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.4vh;
}

#detailing-categories::-webkit-scrollbar-thumb {
  background-color: #3B89D4;
  border-radius: 0.4vh;
}

.detailing-category {
  flex: 0 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.5vh;
  padding: 1vh 3vh;
  cursor: pointer;
  min-width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vh;
  color: #ffffff;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

.detailing-category.active,
.detailing-category:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #ff0099;
  transform: scale(1.05);
}

/* Стили для контейнера опций детейлинга */
.detailing-options {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  overflow-y: auto;
  max-height: 70vh; /* Настройте в зависимости от высоты экрана */
  padding-right: 1vh;
}

.detailing-options::-webkit-scrollbar {
  width: 0.8vh;
}

.detailing-options::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.4vh;
}

.detailing-options::-webkit-scrollbar-thumb {
  background-color: #3B89D4;
  border-radius: 0.4vh;
}

.detailing-option {
  display: none;
}

.detailing-option.active {
  display: block;
}

/* Стили для секций внутри опций детейлинга */
.detailing-section {
  margin-bottom: 2vh;
}

.detailing-section h3 {
  color: #ffffff;
  font-size: 1.6vh;
  margin-bottom: 1vh;
}

.paint-options,
.tint-options,
.wheel-color-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;
}

/* Остальные стили уже присутствуют в вашем CSS */
/* Добавляем в ваш existing CSS */

/* Стили для внутренних суб-вкладок в Детейлинге */
.detailing-subtabs {
  display: flex;
  justify-content: center;
  gap: 1vh;
  margin-bottom: 2vh;
}

.detailing-subtab {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff;
  padding: 1vh 2vw;
  font-size: 1.4vh;
  cursor: pointer;
  border-radius: 2vh;
  transition: all 0.3s, transform 0.3s;
}

.detailing-subtab.active,
.detailing-subtab:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #ff0099;
  transform: scale(1.05);
}

/* Стили для субконтейнеров опций Детейлинга */
.detailing-subcontent {
  display: none;
}

.detailing-subcontent.active {
  display: block;
}

/* Убедитесь, что уже существующие стили для .detailing-option и .detailing-subcontent не конфликтуют */

/* Добавляем стили для избранных опций */
.paint-option.selected,
.metallic-option.selected,
.tint-color-option.selected,
.wheel-color-option.selected {
  border: 0.3vh solid #ff0099; /* Выделение выбранной опции */
  transform: scale(1.1);
}
